.App {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

li {
  flex-grow: 1;
}

button {
  border: 0;
  background: rgb(60, 120, 180);
  color: #fff;
  font-size: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}

button.selected {
  background: rgb(30, 60, 120);
}
